<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Pré-visualização de PDF</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='converter.css') }}">
</head>
<body>

  <header>
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='icone.PNG') }}" alt="ícone">
    </a>
  </header>

  <div class="container">
    <div class="pdf-preview" id="previewContainer"></div>

    <button class="convert-btn" onclick="convertToXML()">CONVERTER PARA XML</button>
    <br>
    <button class="back-btn" onclick="window.location.href='{{ url_for('index') }}'">VOLTAR</button>
  </div>

  <script src="{{ url_for('static', filename='converter.js') }}"></script>
</body>
</html>